.NavigationBar {
    max-width: 1080px;
    display: flex;
}

.NavigationBar, .NavBarList {
    width: 100%;
    height: 100%;
}

.NavBarList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

.NavigationBar img {
    align-self: center;
}

@media only screen and (max-width: 800px) {
    .NavBarList {
        display: none;
    }

    .NavigationBar {
        justify-content: space-between;
        padding: 0 5px;
    }
}