.FooterMenu, .FooterLink {
    display: flex;
}

.FooterMenu {
    width: 70%;
    justify-content: flex-end;
}

.FooterLink {
    flex-direction: column;
}

.FooterItem {
    margin-left: 75px;
}

.Link {
    color: white;
    margin-bottom: 7px;
    font-size: 90%;
}

.Link:link,
.Link:visited,
.Link:active,
.Link:hover {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .FooterItem {
        margin-left: 0px;
    }

    .FooterMenu {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .FooterMenu {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .FooterItem {
        margin: 15px 15px 0 15px;
    }

    .FooterItem h3 {
        margin-bottom: 5;
    }
}